{
  "trailingComma": "es5",
  "tabWidth": 2,
  "singleQuote": true,
  "endOfLine": "auto",
  "semi": true,
  "bracketSpacing": true,
  "proseWrap": "always",
  "arrowParens": "always",
  "tailwindConfig": "tailwind.config.cjs",
  "printWidth": 120
}
